.org-form-label {
    background: none repeat scroll 0 0 #EDEFF3;
    width:120px;
    padding-left:15px;
}
.org-form-table
{
	border-collapse: collapse;
	border:1px solid #AEC2CD;
	background:#F6F6F6;
	padding-left:5px;
}
.org-form-table td
{
	height:25px;
	border:1px solid #D7D7D7;
}