.icon-organization {
	background:url(organization.png) no-repeat;
}

.icon-position {
	background:url(position.png) no-repeat;	
}

.icon-employee {
	background:url(emp.png) no-repeat;	
}

.icon-duty {
	background:url(duty.png) no-repeat;	
}

.icon-group {
	background:url(group.png) no-repeat;	
}

.icon-user {
	background:url(user.png) no-repeat;	
}

.icon-user-female {
	background:url(user_female.png) no-repeat;	
}

.icon-user-green {
	background:url(user_green.png) no-repeat;	
}

.icon-arrow-merge {
	background:url(arrow_merge.png) no-repeat;	
}

.icon-duty-group {
	background:url(duty_group.png) no-repeat;	
}

.icon-duty-manager {
	background:url(duty_manager.png) no-repeat;	
}

.icon-application{
    background:url(application.png) no-repeat;
}

.icon-application-home{
    background:url(application_home.png) no-repeat;
}

.icon-function-group-close{
    background:url(function_group_close.png) no-repeat;
}

.icon-function-group-open{
    background:url(function_group_open.png) no-repeat;
}

.icon-menu{
    background:url(menu.png) no-repeat;
}

.icon-menu-root{
    background:url(menu_root.png) no-repeat;
}

.icon-gear{
	background:url(gear.png) no-repeat;
}

.icon-and{
	background:url(and.png) no-repeat;
}

.icon-or{
	background:url(or.png) no-repeat;
}

.icon-condition{
	background:url(condition.png) no-repeat;
}

.icon-authorization{
    background:url(authorization.png) no-repeat;
}

.icon-auth-calculate{
	background:url(auth_calculate.png) no-repeat;
}

.icon-change-password{
    background:url(change_password.png) no-repeat;
}

.icon-role{
	background:url(role.gif) no-repeat;
}

.icon-reset{
	background:url(reset.png) no-repeat;
}

